<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="personneTypeServiceGwt" class="scub.foundation.incubator.gwt.module.gwt.server.test.service.implementation.PersonneTypeServiceGwtImpl" autowire="byName"/>

	<!-- Configuration Dozer ne pas editer la structure du bean -->
	<bean id="mapperDozerBean" class="org.scub.foundation.incubator.framework.base.utils.mapper.MapperDozerFactoryBean">
		<property name="mappingFiles">
			<list>
		    	<value>dozer-bean-mappings.xml</value>
		    </list>
		</property>
	</bean>

	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * AOP AFTER THROWING ADVICE * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    * 
    * Cette Aop transforme les exceptions du noyau en exception GWT.
	* - vous pouvez editer le bean si vous avez besoin d'une propriété supplémentaire il faut revoir la conception du socle.
	*
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<bean id="afterThrowingAdvice" class="scub.foundation.incubator.gwt.module.gwt.client.aop.AfterThrowingAdvice" autowire="byName"/>

	<aop:config>
		<aop:aspect id="afterThrowingAspect" ref="afterThrowingAdvice">
			<aop:after-throwing method="afterThrowing" throwing="ex" pointcut="execution(* scub.foundation.incubator.gwt.module.*.service.interfaces..*.*(..))"/>
		</aop:aspect>
	</aop:config>
</beans>